* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#img-qr {
  width: 100%;
  margin-top: 200px;
  margin-bottom: 200px;
}

#img-qr img {
  width: 300px;
}
.fa-hammer,
.fa-heart {
  font-size: 80px;
  color: pink;
  animation: animation__caibua 2s infinite;
}
.carousel-item {
  padding: 20%;
}
@keyframes animation__caibua {
  0% {
    transform: rotate(10deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-10deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(10deg) translate(2px, 2px);
  }
}
